.card-contact{
    display: flex;
    align-items: center;
    color: #9A9A9A;
    padding: 15px 25px;
}

.name-text{
    font-size: 1.7rem;
    font-weight: 600;
}

.message-text{
    font-size: smaller;
    font-weight: 300;
    color: #7A7A7A;
}

.card-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 15px;
    
}

.line-break{
    width: 85%;
    text-align: center;
    margin: auto;
    border: none; 
    border-top: 3px solid #1F2930;
}

.card{
    display: flex;
    flex-direction: column;
    
}
