.card-contact{
    display: flex;
    align-items: center;
    color: #9A9A9A;
    padding: 15px 25px;
    cursor: pointer;
}
.card-contact-min{
    display: flex;
    align-items: center;
    color: #9A9A9A;
    padding: 15px 5px;
    cursor: pointer;
}

.name-text{
    font-size: 1.7rem;
    font-weight: 600;
}

.card-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 15px;
    
}

.line-break{
    width: 85%;
    text-align: center;
    margin: 0px auto;
    border: none; 
    border-top: 3px solid #1F2930;
}

.card{
    display: flex;
    flex-direction: column;
    
}
