.App {
  text-align: center;
  background-color: #2A3841;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  background-color: #202C33;
  width: 70vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media (max-width: 900px){
  main{
    background-color: #202C33;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
}

/*.contacts{
  flex-grow: 1;
  background-color: #111B21;
}*/
.contacts {
  flex-grow: 1;
  background-color: #111B21;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease;
}

/* @media (max-width: 900px) {
  .contacts {
    width: 250px;
    position: fixed;
    top: 8vh;
    left: 0;
    height: 100%;
    z-index: 600;
  }
  .menu-contacts{
    width: 16vw !important;
  }

} */

/* @media (min-width: 751px) {
  .contacts {
    width: 250px; 
  }
}
 */
/* 
.contacts.visible {
  width: 250px; 
}

.contacts.hidden {
  width: 0;
  overflow: hidden;
}
 */
.menu-contacts{
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat{
  width: 100%; 
  height: 87vh;
  max-height: 92vh;
  background-color: #0a151b;
  background-image: url('../img/bg.png');
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.chat::-webkit-scrollbar-thumb {
  background-color: #202C33; /* Cor da parte arrastável da barra de rolagem */
  border-radius: 4px; /* Raio das bordas da parte arrastável */
}

.chat::-webkit-scrollbar-track {
  background-color: #3c3e41; /* Cor do fundo da barra de rolagem */
}
.main-chat{
  width: 100%; 
  height: 100%;
}