*{
    margin: 0px;
}
.headerContact{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0px 15px;
}

.logo-name{
    display: flex;
    align-items: center;
}

.icon{
    font-size: xx-large;
}