*{
    margin: 0px;
}
.headerContact{
    background-color: #202C33;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0px 5px;
    transition: width 0.5s ease;
}

.headerContact-overflow {
  background-color: #202C33;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  top: 0;
  left: 0;
  height: 8vh;
  z-index: 700;
  padding: 0px 0px;
}

.logo-name{
    display: flex;
    align-items: center;
}

.icon{
    font-size: xx-large;
}