.you-message{
    width: max-content;
    max-width: 250px;
    padding: 5px 10px;
    margin: 10px 10px;
    color: white;
    background-color: #283841;
    border-radius: 5px;
    text-align: justify;
    word-wrap: break-word;
}
.i-message{
    width: max-content;
    max-width: 250px;
    padding: 10px 10px;
    margin: 10px 10px;
    color: white;
    background-color: #005C4B;
    border-radius: 5px;
    text-align: justify;
    right: 0;
    word-wrap: break-word;
}

.card-message{
    width: 100%;
    display: flex;
    justify-content: end    ;
}

.message > p {
    padding: 3px 0px;
    text-align: justify;
}

.message-user{
    padding-left:10px !important;
    text-align: left;
}
.date-user{
    text-align: end;
    font-weight: 300;
    font-size: small;
}
.name-user{
    font-weight: 700;
} 
.footer-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.trash{
    font-size: 12px;
    
    color: #FFFFFF;
}
.button-trash{
    background-color: transparent;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}